services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-dev
        IMAGE_TAG: latest
    environment:
      - RUNTIME=develop
      - ENVIRONMENT_NAME=localhost
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=config.settings.develop
      - SECRET_KEY=abc123
      - ALLOW_INSECURE=true
      - NPM_DEVELOP_COMMAND=dev
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin
      - COOKIE_DOMAIN=localhost
      - CSP_IMG_SRC='self',*.nationalarchives.gov.uk
      - CSP_STYLE_SRC='self',fonts.googleapis.com,p.typekit.net,use.typekit.net
      - CSP_FONT_SRC='self',fonts.gstatic.com,use.typekit.net
      - CSP_FRAME_SRC='self',www.youtube.com
      - FEATURE_PHASE_BANNER=False
      - WAGTAIL_API_URL=https://wagtail.nationalarchives.gov.uk/api/v2
      # - WAGTAIL_API_URL=http://host.docker.internal:8000/api/v2
      - DELIVERY_OPTIONS_API_URL=http://mock-delivery-options-api:8080/rosetta/data
    ports:
      - 65533:8080
    volumes:
      - ./:/app
    healthcheck:
      start_period: 10s
      start_interval: 2s

  mock-delivery-options-api:
    image: wiremock/wiremock:3.13.1
    volumes:
      - ./wiremock:/home/wiremock
    ports:
      - 65501:8080

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 65532:8000
