services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-django-root
        IMAGE_TAG: 0
    env_file:
      - .env
    environment:
      - RUNTIME=develop
      - ENVIRONMENT_NAME=localhost
      - DEBUG=False
      - DJANGO_SETTINGS_MODULE=config.settings.develop
      - SECRET_KEY=abc123
      - NPM_DEVELOP_COMMAND=dev
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin
      - COOKIE_DOMAIN=localhost
      - CSP_IMG_SRC='self',*.nationalarchives.gov.uk
      - CSP_STYLE_SRC='self',fonts.googleapis.com,p.typekit.net,use.typekit.net
      - CSP_FONT_SRC='self',fonts.gstatic.com,use.typekit.net
      - CSP_FRAME_SRC='self',www.youtube.com
      - FEATURE_PHASE_BANNER=False
      - WAGTAIL_API_URL=https://wagtail.nationalarchives.gov.uk/api/v2
      - ROSETTA_API_URL=https://rosetta-staging.k-int.com/rosetta/data
      - WAGTAIL_API_URL=https://wagtail.nationalarchives.gov.uk/api/v2
      - DELIVERY_OPTIONS_API_URL=http://ds-api.dev.local/delivery-options-api/api/DeliveryOptions
      # - DELIVERY_OPTIONS_API_URL=http://mock-delivery-options-api:8080/rosetta/data
      - ROSETTA_API_TIMEOUT=5
      - WAGTAIL_API_TIMEOUT=5
      - DELIVERY_OPTIONS_API_TIMEOUT=5
      # Distressing content catalogue prefixes
      - DCS_PREFIXES="HO 616,AB 41,J 14,LOC 5,HO 397,ILB 2,LEV 1,GTI 2,GTI 102,ICSA 1,ICSA 2,ICSA 3,ICSA 4,ICSA 5,ICSA 6,ICSA 7,ES 38" # Must be comma separated if more than one.
      - MAX_SUBJECTS_PER_RECORD=20
    ports:
      - 65533:8080
    volumes:
      - ./:/app
  mock-delivery-options-api:
    image: wiremock/wiremock:3.13.1
    volumes:
      - ./wiremock:/home/wiremock
    ports:
      - 65501:8080
  dev:
    image: ghcr.io/nationalarchives/tna-python-dev:preview
    volumes:
      - ./:/app

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 65532:8000
