services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-dev
        IMAGE_TAG: latest
    environment:
      - ENVIRONMENT_NAME=localhost
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=config.settings.develop
      - SECRET_KEY=abc123
      - NPM_DEVELOP_COMMAND=dev
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin
      - COOKIE_DOMAIN=localhost
      - CSP_IMG_SRC='self',*.nationalarchives.gov.uk
      - CSP_STYLE_SRC='self',fonts.googleapis.com,p.typekit.net,use.typekit.net
      - CSP_FONT_SRC='self',fonts.gstatic.com,use.typekit.net
      - CSP_FRAME_SRC='self',www.youtube.com
      - FEATURE_PHASE_BANNER=False
      - ROSETTA_API_URL=${ROSETTA_API_URL}
      - WAGTAIL_API_URL=${WAGTAIL_API_URL}
      - DELIVERY_OPTIONS_API_URL=${DELIVERY_OPTIONS_API_URL}
      - DCS_PREFIXES=${DCS_PREFIXES}
      - STAFFIN_IP_ADDRESSES=${STAFFIN_IP_ADDRESSES}
      - ONSITE_IP_ADDRESSES=${ONSITE_IP_ADDRESSES}
      - ENABLE_PARALLEL_API_CALLS=${ENABLE_PARALLEL_API_CALLS}
      - ENRICHMENT_TIMING_ENABLED=${ENRICHMENT_TIMING_ENABLED}
      - ROSETTA_ENRICHMENT_API_TIMEOUT=${ROSETTA_ENRICHMENT_API_TIMEOUT}
      - WAGTAIL_API_TIMEOUT=${WAGTAIL_API_TIMEOUT}
      - DELIVERY_OPTIONS_API_TIMEOUT=${DELIVERY_OPTIONS_API_TIMEOUT}
      - MAX_SUBJECTS_PER_RECORD=${MAX_SUBJECTS_PER_RECORD}
    ports:
      - 65533:8080
    volumes:
      - ./:/app
    healthcheck:
      start_period: 10s
      start_interval: 2s

  mock-delivery-options-api:
    image: wiremock/wiremock:3.13.1
    volumes:
      - ./wiremock:/home/wiremock
    ports:
      - 65501:8080

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 65532:8000
