@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

.tna-dl-chips__item {
  text-align: left;
}

.tna-compound-filters {
  &__item:not(&__item--remove) {
    @include colour.colour-background("input-background");
    @include colour.colour-border("contrast-background");
  }
}

.etna-results-buckets {
  .tna-secondary-navigation__item {
    &--current {
      .tna-secondary-navigation__link {
        --accent-border: var(--base-background);
      }
    }
  }
}

.etna-results-sort-by {
  padding-bottom: spacing.space(0.5);

  flex-direction: row;
  align-items: center;
  justify-content: end;

  .tna-form__group-contents {
    flex: none;
  }
}

.enta-results-layout {
  flex: 0 0 auto;
}

mark {
  @include colour.yellow-accent;
  @include colour.accent;
}

#mobile-filters {
  display: none;
  @media only screen and (width <= 48em) {
    display: block;
  }
}

.tna-aside {
  display: none;
  @media only screen and (width >= 48em) {
    display: block;
  }
}
