@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.tna-dl-chips__item {
  text-align: left;
}

.tna-compound-filters {
  &__item:not(&__item--remove) {
    @include colour.colour-background("input-background");
    @include colour.colour-border("contrast-background");
  }
}

.etna-results-buckets {
  .tna-secondary-navigation__item {
    &--current {
      .tna-secondary-navigation__link {
        --accent-border: var(--base-background);
      }
    }
  }
}

.etna-results-sort-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: spacing.space(0.5);

  .tna-form-item__body {
    margin-top: 0;
  }
}

.etna-results-layout {
  flex: 0 0 auto;
}

.etna-results {
  list-style: none;

  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0 2%;

    @include borders.rounded-border;
    @include colour.colour-border("base-keyline");
  }

  &--list {
    border-radius: 4px;
  }

  > li {
    margin-top: spacing.space(0.7);
    padding: spacing.space(1);

    position: relative;
    @include borders.rounded-border;
    @include colour.colour-border("base-keyline", 1px, solid);

    &:hover {
      outline-offset: spacing.space(0.2);
      @include colour.colour-outline("base-keyline", 2px, solid);
    }

    @include a11y.faux-full-outline("a");
  }

  p {
    margin-top: spacing.space(0.5);
  }
}

.etna-result-attributes {
  margin-top: spacing.space(0.5);

  &--list {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 2%;
  }

  &--grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 15% 2%;
    @include typography.detail-font-small;

    dt {
      @include a11y.visually-hidden;
    }
  }

  color: var(--font-light);
}

mark {
  @include colour.yellow-accent;
  @include colour.accent;
}

#mobile-filters {
  display: none;
  @media only screen and (width <= 48em) {
    display: block;
  }
}

.tna-aside {
  display: none;
  @media only screen and (width >= 48em) {
    display: block;
  }
}

.mobile-skip {
  margin-top: -5.4em;

  visibility: hidden;

  @media only screen and (width <= 48em) {
    margin-top: 0;
    margin-bottom: -1em;
    margin-left: -1em;

    visibility: visible;
  }
}

// .tna-heading-l {
//   @include media.on-small {
//     padding: 0;
//   }
// }

#filter-panel {
  padding-left: 0;
}

.tna-section--long {
  padding-bottom: 0;
}

.tna-checkboxes--grid {
  .tna-checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 32px;

    @include media.on-medium {
      grid-template-columns: 1fr 1fr;
    }

    @include media.on-mobile {
      grid-template-columns: 1fr;
      gap: 16px 0;
    }
  }
}

.tna-fieldset__inner {
  border: 0;
}

.tna-heading--long {
  margin-bottom: 1em;
}

.skip-from-filters-to-results:has(a:focus) {
  margin-top: spacing.space(1);
}

.filters-selected {
  display: none;
  @media only screen and (width <= 48em) {
    padding: 4px 10px;

    display: block;

    font-weight: bold;

    background: rgb(255 204 0);

    border: solid 3px black;
    border-radius: 5px;
  }
}
