@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

@use "@nationalarchives/frontend/nationalarchives/all";

@use "main/global-alert";

.etna-rounded-corners {
  @include borders.rounded-border;
}

.tna-card {
  &--full-height {
    height: 100%;

    box-sizing: border-box;

    @include colour.on-high-contrast-and-forced-colours {
      height: auto;
    }
  }
}

.tna-\!--align-centre {
  text-align: center !important;
}

.development-notice {
  padding: spacing.space(1);

  border: 0.2em #00b0ff solid;
  @include borders.rounded-border;
}
