@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";
@use "./accordion";

.back-link-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: spacing.space(2);

  @include media.on-tiny {
    flex-direction: column;
    gap: spacing.space(1);
  }
}

.back-link {
  display: flex;
  align-items: center;
  gap: spacing.space(0.5);

  text-decoration: none;

  &__icon {
  }

  &__text {
    text-decoration: underline;
    @include typography.interactable-text-decoration;
  }

  &:link,
  &:visited {
    @include colour.colour-font("font-base");
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover &__text,
  &:focus-visible &__text {
    @include typography.interacted-text-decoration;
  }
}

.reference {
  margin-right: 1em;
  padding-right: 0.25em;
  padding-left: 0.25em;

  display: inline-block;

  line-height: 1.4;
  @include typography.detail-font;
  @include colour.tint;

  @include colour.colour-border("keyline", 1px);
  @include borders.rounded-border;
}

.tna-aside--split {
  @include media.on-large {
    display: flex;
  }

  &__column {
    box-sizing: border-box;

    &:first-child {
      padding-bottom: spacing.space(2);
      border-bottom: 1px solid var(--font-base);
    }

    &:last-child {
      padding-top: spacing.space(2);
    }

    @include media.on-large {
      width: 50%;
      padding-top:0;
      padding-bottom:0;

      &:first-child {
        padding: 0 spacing.space(2) 0 spacing.space(5);
        border-bottom: none;
        border-right: 1px solid var(--font-base);
      }

      &:last-child {
        padding: 0 spacing.space(5) 0 spacing.space(2);
      }
    }
  }
}

.full-height-aside {
  height: 100%;

  box-sizing: border-box;
}

.tna-dl--dotted {
  @include colour.colour-border("keyline", 1px, solid, bottom);

  > dt,
  > dd {
    padding-top: spacing.space(0.5);
    padding-bottom: spacing.space(0.5);

    background-color: transparent !important;

    @include colour.colour-border("keyline", 1px, solid, top);
  }

  & & {
    border-bottom: none;

    // @include typography.font-size(16);

    > dt,
    > dd {
      &:first-of-type {
        padding-top: 0;
        border-top: none;
      }
    }

    > dt:last-of-type {
      &,
      & ~ dd:last-child {
        padding-bottom: 0;
      }
    }
  }

  .tna-table {
    margin-top: spacing.space(0.5);
    margin-bottom: spacing.space(1);

    &__caption {
      caption-side: top;

      padding: 0 0 spacing.space(0.5);
    }
  }

  @include media.on-tiny {
    > dd {
      border-top: none;
    }
  }
}

.record-details {
  &__label {
    position: sticky;
    top: spacing.space(0.5);

    @include media.on-tiny {
      padding-top: spacing.space(0.25);
    }
  }

  &__title {
    padding-top: spacing.space(0.25);
    padding-bottom: spacing.space(0.25);

    display: block;

    line-height: 1.2;
  }

  &__description {
    padding-top: spacing.space(0.25);
    padding-bottom: spacing.space(0.25);

    display: block;

    @include typography.detail-font-small;
    text-transform: none;
    @include colour.colour-font("font-light");
  }

  ul,
  li {
    > br,
    + br {
      display: none;
    }
  }

  /* stylelint-disable no-descending-specificity */
  dd p {
    margin-top: spacing.space(1);

    &:first-child {
      margin-top: 0;
    }
  }

  p:empty {
    display: none;

    &:first-child + p {
      margin-top: 0;
    }
  }

  /* stylelint-enable no-descending-specificity */
}

.square {
  aspect-ratio: 1;

  padding: spacing.space(0.75);

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  @include borders.rounded-border;

  text-align: center;
}

.copy-url {
  @include typography.detail-font;
  @include typography.font-size(16);
}

.record-hierarchy {
  padding-top: spacing.space(0.75);

  &__count {
    padding-top: spacing.space(0.125);
    padding-right: spacing.space(0.5);
    padding-bottom: spacing.space(0.125);

    text-align: right;

    @include borders.rounded-border;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--this {
  }
}

.large-icon {
  font-size: 2em;

  @include media.on-larger-than-tiny {
    margin-left: spacing.space(1);
  }
}

.underline {
  // Used in record detail fields to replace <u>
  text-decoration: underline;
}

#youtube-link {
}

#youtube-embeded-player {
  height: auto;
  aspect-ratio: 16 / 9;
}

.callout {
  padding: spacing.space(1) spacing.space(1) spacing.space(1) spacing.space(0.5);

  @include colour.tint;

  @include colour.thick-keyline-brand(left, "forest");

  &__content {
    margin-top: spacing.space(0.5);
  }
}

.dl-icon-grid {
  &__item {
    margin-top: spacing.space(1);

    display: grid;
    grid-template-columns: spacing.space(2) 1fr;
  }

  &__icon {
    align-self: center;

    color: var(--font-base);
  }

  &__term {
    margin-top: 0;
    padding-top: 0;

    color: var(--font-base);

    font-weight: 700;
  }

  &__definition {
    grid-column: 2;
  }

  a {
    color: var(--font-base);
  }
}

.related-records {
  .tna-hgroup__supertitle {
    color: var(--base-font-dark);

    background-color: var(--base-background);

    border-color: var(--accent-border);
  }
}
