{% from 'components/pagination/macro.html' import tnaPagination %}

{% macro hierarchy(record) %}
  <div class="tna-container tna-container--nested">
    <div class="tna-column tna-column--full tna-background-tint">
      {% set hierarchy_column_widths = [
        '11-12',
        '5-6',
        '3-4',
        '2-3',
        '7-12',
        '1-2',
        '5-12',
        '1-3',
        '1-4',
        '1-6',
        '1-12'
      ] %}
      <div class="record-hierarchy tna-!--margin-top-xs  tna-background-tint">
        {# HELD BY #}
        <div class="tna-container tna-container--nested">
          <div class="tna-column tna-column--width-{{ hierarchy_column_widths[0] }} tna-column--align-centre">
            <div class="tna-background-accent record-hierarchy__count">{{ record.held_by_count | override_tna_record_count(record) }} records</div>
          </div>
          <div class="tna-column tna-column--full bar-divider">
            <div class="tna-aside tna-aside--tight">
              <!-- <hgroup class="tna-hgroup-s">
                <h3>
                  <span class="tna-hgroup__supertitle">Held by</span>
                  <span class="tna-hgroup__title">
                    <a href="{{ record.held_by_url }}">{{ record.held_by }}</a>
                  </span>
                </h3>
              </hgroup> -->
              <h3 class="tna-heading-s">This record is held at <a href="{{ record.held_by_url }}">{{ record.held_by }}</a></h3>
            </div>
          </div>
        </div>

        {# RECORD HIERARCHY #}
        {% if record.hierarchy %}
          {% for hierarchy_record in record.hierarchy %}
            <div class="tna-container tna-container--nested">
              <div class="tna-column tna-column--width-{{ hierarchy_column_widths[loop.index] }} tna-column--align-centre">
                <div class="tna-background-accent record-hierarchy__count">{{ hierarchy_record.hierarchy_count }} records</div>
              </div>
              <div class="tna-column tna-column--full bar-divider">
                <div class="tna-aside tna-aside--tight">
                  <!-- <hgroup class="tna-hgroup-s">
                    <p class="tna-hgroup__supertitle">{{ hierarchy_record.level }}</p>
                    <h3 class="tna-hgroup__title">
                      <a href="{{ hierarchy_record.url }}">{{ hierarchy_record.summary_title }}</a>
                    </h3>
                  </hgroup> -->
                  <h3 class="tna-heading-s">Within the {{ hierarchy_record.level | lower }}: <a href="{{ hierarchy_record.url }}">{{ hierarchy_record.reference_number }}</a></h3>
                  <p class="tna-!--no-margin-top">{{ (hierarchy_record.title or hierarchy_record.summary_title) | striptags }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        
        {# THIS RECORD #}
        <div class="tna-aside tna-aside--tight tna-background-accent tna-!--no-margin-top record-hierarchy-this piece-adjustment">
          <div class="tna-container tna-container--nested">
            <div class="tna-column tna-column--align-centre">
              <i class="fa-solid fa-check large-icon" aria-hidden="true"></i>
            </div>
            <div class="tna-column tna-column--flex-1 tna-column--align-centre">
              <h3 class="tna-heading-s">You are currently looking at the {{ record.level | lower }}: {{ record.reference_number }}</h3>
              <p class="tna-!--no-margin-top">{{ (record.title or record.summary_title) | striptags }}</p>
            </div>
          </div>
        </div>
      </div>

      {% if record.previous or record.next %}
        {% if record.previous %}
          {% set previous = {
            'href': record.previous.url,
            'text': 'Previous ' ~ (record.previous.level | lower),
            'description': (record.previous.summary_title or record.previous.title) ~ ' (' ~ (record.previous.reference_number or record.previous.id) ~ ')'
          } %}
        {% else %}
          {% set previous = None %}
        {% endif %}

        {% if record.next %}
          {% set next = {
            'href': record.next.url,
            'text': 'Next ' ~ (record.next.level | lower),
            'description': (record.next.summary_title or record.next.title) ~ ' (' ~ (record.next.reference_number or record.next.id) ~ ')'
          } %}
        {% else %}
          {% set next = None %}
        {% endif %}

        {{ tnaPagination({
          'previous': previous,
          'next': next,
          'classes': 'hierarchy-pagination'
        }) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
