{% extends "base.html" %}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}
{%- from "components/search-field/macro.html" import tnaSearchField -%}
{%- from "macros/global_alert_banners.html" import global_alert_banners -%}
{%- from "components/text-input/macro.html" import tnaTextInput -%}
{%- from "components/textarea/macro.html" import tnaTextarea -%}
{%- from "components/button/macro.html" import tnaButton -%}
{%- from "components/fieldset/macro.html" import tnaFieldset -%}
{%- from "components/date-input/macro.html" import tnaDateInput -%}
{%- set pageTitle = "Advanced search" -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('landing.css') ~ '?v=' ~ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock stylesheets %}

{% block beforeContent %}
<div class="tna-background-accent-light">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          },
          {
            'text': 'Catalogue',
            'href': url('main:catalogue')
          },
          {
            'text': 'Search',
            'href': url('search:advanced_search')
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--margin-vertical-s'
      }) }}
    </div>
  </div>
</div>
{% endblock beforeContent %}

{% block content %}
  <div class="tna-background-accent-light">
    {{ global_alert_banners(request, global_alert.global_alert, global_alert.mourning_notice) }}
  </div>
  <div class="tna-background-accent-light tna-!--padding-top-s tna-!--padding-bottom-m">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h1 class="tna-heading-l">{{ pageTitle }}</h1>
        <p>Use advanced search to ger more specific results from our catalogue.</p>
      </div>
    </div>
  </div>

  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--full-medium tna-column--full-small tna-column--full-tiny">
      <form action="" method="get" novalidate class="tna-!--margin-top-m">

        {% call tnaFieldset({
          "legend": "Find  records that contain",
          "headingLevel": 2,
          "headingSize": "l",
          "id": "find_fieldset"
        }) %}

          {{ tnaTextInput({
            "formItemClasses": "tna-!--margin-top-s",
            "label": "All of these words",
            "headingLevel": 3,
            "headingSize": "s",
            "id": "all_words",
            "name": "all_words",
            "value": "",
            "hint": "Include the important words, for example: medal card UK"
          }) }}

          {% block exact_words_field %}
            {{ tnaTextarea({
              "formItemClasses": "tna-!--margin-top-s",
              "label": "These exact words or phrases",
              "headingLevel": 3,
              "headingSize": "s",
              "id": "exact_words",
              "name": "exact_words",
              "value": "",
              "hint": "Put each word on a new line, for example:<br>medal<br>card" | safe
            }) }}
          {% endblock exact_words_field %}

          {% block any_words_field %}
            {{ tnaTextarea({
              "formItemClasses": "tna-!--margin-top-s",
              "label": "Any of these words",
              "headingLevel": 3,
              "headingSize": "s",
              "id": "any_words",
              "name": "any_words",
              "value": "",
              "hint": "Put each word on a new line, for example:<br>medal<br>card" | safe
            }) }}
          {% endblock any_words_field %}

          {% block ignore_words_field %}
            {{ tnaTextarea({
              "formItemClasses": "tna-!--margin-top-s",
              "label": "Ignore these words",
              "headingLevel": 3,
              "headingSize": "s",
              "id": "ignore_words",
              "name": "ignore_words",
              "value": "",
              "hint": "Put each word on a new line, for example:<br>medal<br>card" | safe
            }) }}
          {% endblock ignore_words_field %}

        {% endcall %}

        {% call tnaFieldset({
          "legend": "Narrow your results by",
          "headingLevel": 2,
          "headingSize": "l",
          "id": "narrow_fieldset"
        }) %}

          {% block references_field %}
            {{ tnaTextarea({
              "formItemClasses": "tna-!--margin-top-s",
              "label": "Search for or within any of these references",
              "hint": "Put each cartalogue reference on a new line, for example: <br>WO 95<br>WO 95" | safe,
              "headingLevel": 3,
              "headingSize": "s",
              "id": "references",
              "name": "references",
              "value": ""
            }) }}
          {% endblock references_field %}

          <h3 class="tna-heading-s">Search within a date range</h3>

          <div class="tna-container tna-container--nested">
            <div class="tna-column tna-column--width-1-2 tna-column--full-medium tna-column--full-small tna-column--full-tiny">
              {{ tnaDateInput({
                "label": "From",
                "headingLevel": 3,
                "headingSize": "s",
                "id": "date_from",
                "name": "date_from",
                "value": "",
                "hint": "For example: 1997, 1999 and 1, or 1997 1 and 31",
                "fields": ["y", "m", "d"],
                "progressive": true
              }) }}
            </div>
            <div class="tna-column tna-column--width-1-2 tna-column--full-medium tna-column--full-small tna-column--full-tiny">
              {{ tnaDateInput({
                "label": "To",
                "headingLevel": 3,
                "headingSize": "s",
                "id": "date_to",
                "name": "date_to",
                "value": "",
                "hint": "For example: 1997, 1999 and 1, or 1997 1 and 31",
                "fields": ["y", "m", "d"],
                "progressive": true
              }) }}
            </div>
          </div>
        {% endcall %}

        {% block search_preview %}{% endblock search_preview %}

        <div class="tna-button-group tna-!--margin-top-xl">
          {{ tnaButton({
            "text": "Search",
            "buttonElement": true,
            "buttonType": "submit"
          }) }}
          {{ tnaButton({
            "text": "Reset",
            "buttonElement": true,
            "buttonType": "reset",
            "plain": true
          }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock content %}
