{% extends 'base.html' %}

{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/button/macro.html' import tnaButton %}

{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}

{%- set pageTitle = 'More filter options' -%}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('catalogue-results.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
  <div class="tna-background-accent">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'Home',
              'href': '/'
            },
            {
              'text': 'Catalogue',
              'href': url('main:catalogue')
            }
          ],
          'structuredData': True,
          'classes': 'tna-!--padding-vertical-s'
        }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="tna-background-accent">
    {{ global_alert_banners(request, global_alert.global_alert, global_alert.mourning_notice) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="{{ static('catalogue-results.min.js') }}?v={{ app_config.BUILD_VERSION }}" defer></script>
{% endblock %}
