@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

.record-hierarchy {
  padding-top: spacing.space(0.75);

  &__count {
    padding-top: spacing.space(0.125);
    padding-right: spacing.space(0.5);
    padding-bottom: spacing.space(0.125);

    text-align: right;

    @include borders.rounded-border;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.large-icon {
  font-size: 2em;

  @include media.on-larger-than-tiny {
    margin-left: spacing.space(1);
  }
}

.tna-prev-next-record {
  @include spacing.space-above;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: spacing.space(1);
  margin-right: spacing.space(1);
  margin-left: spacing.space(1);
  margin-bottom: spacing.space(1);

  &__spacer {
    flex: 1;
  }

  &__link {
    flex: 3;
    display: flex;
    gap: spacing.space(1);
    align-items: flex-start;
    padding-bottom: spacing.space(0.5);

    &--prev {
    }

    &--next {
      text-align: right;
    }
  }

  &__link-text {
    flex: 1;
  }

  &__link-title {
  }

  &__link-description {
    line-height: 1.5;
    display: block;
  }

  svg {
    fill: currentColor;
    margin-top: 0.25em;
  }

  @include media.on-mobile {
    flex-direction: column;
    gap: spacing.space(1);

    &__spacer {
      display: none;
    }

    &__link {
      gap: spacing.space(0.5);

      &--next {
        flex-direction: row-reverse;
        text-align: left;
      }
    }
  }
}
