{% macro under_development_banner() %}
  <div class="development-notice">
    <h2 class="tna-heading-m">
      This site is under development
    </h2>
    <p>Read more about the project on <a href="https://www.nationalarchives.gov.uk/blogs/digital/new-online-catalogue-blog/welcome-to-the-new-national-archives-online-catalogue" aria-label="Blog post: Welcome to the new National Archives online catalogue!" title="Blog post: Welcome to the new National Archives online catalogue!">our blog</a> and help us out by providing <a href="https://www.smartsurvey.co.uk/s/beta-search-feedback/" aria-label="Give us feedback about this service" title="Give us feedback about this service">feedback</a>.</p>
  </div>
{% endmacro %}
