{%- from 'components/fieldset/macro.html' import tnaFieldset -%}
{%- from 'utilities/forms/form-item.html' import tnaFormItem -%}
{%- from 'components/button/macro.html' import tnaButton -%}

{% macro checkbox(item, params, is_parent=false, is_child=false, parent_value='') %}
  {% set item_id = item.id or (params.id if (params['items'] | length == 1) else params.id ~ '-' ~ item.value) %}
  <div class="tna-checkboxes__item{% if is_parent %} tna-checkboxes__item--parent{% endif %}{% if is_child %} tna-checkboxes__item--child data-parent='{{ parent_value }}'{% endif %}">
    <input type="checkbox" id="{{ item_id }}"{%- if params.classes %} class="{{ params.classes }}"{% endif %} value="{{ item.value }}" name="{{ params.name }}"
    {%- if item.checked %} checked{% endif %}
    {%- if params.attributes %}{% for attribute, value in params.attributes.items() %} {{ attribute }}{% if value != '' %}="{{ value }}"{% endif %}{% endfor %}{% endif %}>
    <label for="{{ item_id }}" class="tna-checkboxes__item-label">
      {{ item.text }}
      {%- if item.hint %}
      <span class="tna-checkboxes__item-hint"><span class="tna-visually-hidden">(</span>{{ item.hint }}<span class="tna-visually-hidden">)</span></span>
      {%- endif %}
    </label>
  </div>
{% endmacro %}

{% macro checkboxes(params) %}
  <div class="tna-checkboxes{% if params.small or params.inline %} tna-checkboxes--small{% endif %}{% if params.inline %} tna-checkboxes--inline{% endif %}"{% if params['items'] | length != 1 %} id="{{ params.id }}"{% endif %}>
    {%- for item in params['items'] %}
      {% if item.is_parent %}
        {{ checkbox(item, params, is_parent=true) }}
        {% if item.children and item.children | length > 0 %}
          {%- for child in item.children %}
            {{ checkbox(child, params, is_child=true, parent_value=item.value) }}
          {%- endfor %}
          {% if item.more_filter_choices_available %}
            {{ tnaButton({
              'text': item.more_filter_choices_text,
              'href': item.more_filter_choices_url,
              'plain': True,
              'small': True,
            }) }}
          {% endif %}
        {% endif %}
      {% else %}
        {{ checkbox(item, params) }}
      {% endif %}
    {%- endfor %}
  </div>
{% endmacro %}

{% macro tnaCheckboxes(params) %}
{%- if (params['items'] | length) == 1 %}
{%- call tnaFormItem({
  'headingLevel': params.headingLevel,
  'headingSize': params.headingSize,
  'id': params.id,
  'label': params.label,
  'hint': params.hint,
  'error': params.error,
  'classes': params.formItemClasses,
  'attributes': params.formItemAttributes
}) %}
  {{ checkboxes(params) }}
{%- endcall %}
{%- else %}
{%- call tnaFieldset({
  'headingLevel': params.headingLevel,
  'headingSize': params.headingSize,
  'id': params.id,
  'legend': params.label,
  'hint': params.hint,
  'smallerHint': True,
  'error': params.error,
  'classes': params.formItemClasses,
  'attributes': params.formItemAttributes
}) %}
  {{ checkboxes(params) }}
{%- endcall %}
{%- endif %}
{% endmacro %}